.card {
  border: none;
  background-color: #ffffff;
  overflow: auto;
  /* max-height: 500px; /*fix for text overflow, needs fixing for flex flip card */
}

.card-header{
  background-color:#ffffff;
}

.card-footer{
  background-color:#ffffff;
}

cite {
  font-size: 0.9rem;
}

.embed-responsive-item {
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bl-card-space.hover.bl-flip-card .bl-card-panel-back {
  transform: rotateY(0deg);
}

.bl-card-space.hover.bl-flip-card .bl-card-panel-front {
  transform: rotateY(180deg);
}

.bl-card-template {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.bl-card-panel-front {
  position: relative;
  z-index: 2;
}

.bl-card-panel-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
}

.bl-card-panel-front,
.bl-card-panel-back {
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
}
