<!DOCTYPE html>
<html lang="en">

<head>
    <title>Card UI Demo</title>
    <meta name="author" content="Blue Divided">
    <meta name="description" content="The card-ui built on open source framework including HTML, CSS, and APIs.">
    
    <meta property="og:title" content="Card UI Demo">
    <meta property="og:description" content="The card-ui built on open source framework including HTML, CSS, and APIs.">
    <meta property="og:image" content="img/favicon.png">

    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />

</head>

<body>

    <!-- Nav Bar -->
    <div id="bl-nav-bar"></div>

    <!-- card id 1000 topic card -->
    <div class="container">
        <!-- card id 1000 topic card -->
        <div id="card-1000"> </div>
    </div>

    <!-- card id 1000101 section card -->
    <div class="container">
        <!-- card id 1000101 section card -->
        <div id="card-1000101"> </div>
    </div>

    <!-- card id from 1001 to 1004 image, text, pdf, video -->
    <div class="container-fluid">
        <div class="px-lg-5">
            <!-- row -->
            <div class="row">
                <div id="card-1001" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1002" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1003" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1004" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
            </div> <!-- end row -->
        </div>
    </div>

    <!-- card id 1000102 section card -->
    <div class="container">
        <!-- card id 1000102 section card -->
        <div id="card-1000102"> </div>
    </div>

    <!-- card id from 1005 to 1008 slide, text with quote, blog link, image with gif animation -->
    <!-- card id from 1011, 1012 image overlay card, slide share card -->

    <div class="container-fluid">
        <div class="px-lg-5">
            <!-- row -->
            <div class="row">
                <div id="card-1005" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1006" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1007" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1008" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1011" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1012" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
            </div> <!-- end row -->
        </div>
    </div>

    <!-- card id 1000103 section card -->
    <div class="container">
        <!-- card id 1000103 section card -->
        <div id="card-1000103"> </div>
    </div>

    <!-- card id from 1009, 1010, simple quiz, flip card front image back video -->
    <div class="container-fluid">
        <div class="px-lg-5">
            <!-- row -->
            <div class="row">
                <div id="card-1009" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
                <div id="card-1010" class="col-xl-4 col-lg-4 col-md-6 mb-4"> </div>
            </div> <!-- end row -->
        </div>
    </div>

    <!-- Nav Bar -->
    <div id="bl-footer"></div>

    <script>
        $(document).ready(function () {

            $("#bl-nav-bar").load("./nav-bar.html");

            $("#card-1000").load("../template/cards/card-1000.html");
            $("#card-1000101").load("../template/cards/card-1000101.html");

            $("#card-1001").load("../template/cards/card-1001.html");
            $("#card-1002").load("../template/cards/card-1002.html");
            $("#card-1003").load("../template/cards/card-1003.html");
            $("#card-1004").load("../template/cards/card-1004.html");

            $("#card-1000102").load("../template/cards/card-1000102.html");
            $("#card-1005").load("../template/cards/card-1005.html");
            $("#card-1006").load("../template/cards/card-1006.html");
            $("#card-1007").load("../template/cards/card-1007.html");
            $("#card-1008").load("../template/cards/card-1008.html");

            $("#card-1000103").load("../template/cards/card-1000103.html");
            $("#card-1009").load("../template/cards/card-1009.html");
            $("#card-1010").load("../template/cards/card-1010.html");
            $("#card-1011").load("../template/cards/card-1011.html");
            $("#card-1012").load("../template/cards/card-1012.html");


            $("#bl-footer").load("./footer.html");
        });
    </script>
    <script src="../js/quiz.js"></script>
    <script src="../js/flip.js"></script>
</body>

</html>