<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a href=" #" class="navbar-brand">
        <!-- Logo Image -->
        <img src="img/favicon.png" width="45" alt="" class="d-inline-block align-middle mr-2" />
        <!-- Logo Text -->
        <span class="d-inline-block align-middle mr-2">Navbar</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/index.html">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" />
            <button class="btn btn-outline-primary" type="submit">
                <i class="fa fa-search"></i> Search
            </button>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-primary" href="#"><i class="fa fa-sign-in"></i> Sign up</a>
        </form>
    </div>
</nav>