<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded" style="background-color: darkorange;">
        <div class="col-md-6 px-0">
            <h1 class="display-4">Hello, Topic!</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo tempore
                iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium
                quae!
            </p>
            <p class="lead">
                <a class="btn btn-info btn-lg" href="template/card-list.html" role="button">Learn more ...</a>
            </p>
        </div>
    </div>
</div>

<!-- List all the topic -->
<!-- topic id from 1000 to 9000 -->
<div class="container-fluid">
    <div class="px-lg-5">
        <!-- row -->
        <div class="row">
            <!-- topic id 1000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-1000"> </div>
            </div>
            <!-- topic id 2000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-2000"> </div>
            </div>
            <!-- topic id 3000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-3000"> </div>
            </div>
            <!-- topic id 4000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-4000"> </div>
            </div>
            <!-- topic id 5000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-5000"> </div>
            </div>
            <!-- topic id 6000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-6000"> </div>
            </div>
            <!-- topic id 7000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-7000"> </div>
            </div>
            <!-- topic id 8000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-8000"> </div>
            </div>
            <!-- topic id 9000 topic card -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                <div id="topic-9000"> </div>
            </div>
        </div><!-- end row -->

        <!-- topic list show more button -->
        <div class="py-5 text-right">
            <a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show more >>></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#topic-1000").load("template/topics/topic-1000.html");
        $("#topic-2000").load("template/topics/topic-2000.html");
        $("#topic-3000").load("template/topics/topic-3000.html");
        $("#topic-4000").load("template/topics/topic-4000.html");
        $("#topic-5000").load("template/topics/topic-5000.html");
        $("#topic-6000").load("template/topics/topic-6000.html");
        $("#topic-7000").load("template/topics/topic-7000.html");
        $("#topic-8000").load("template/topics/topic-8000.html");
        $("#topic-9000").load("template/topics/topic-9000.html");
    });
</script>