<!-- topic id 8000 topic card -->
<!-- text card -->
<div class="container-fluid shadow p-2 mb-5 bg-white rounded">
    <!-- card space -->
    <div class="bl-card-space">
        <!-- card template -->
        <div class="bl-card-template bl-topic-card">
            <!-- card front panel -->
            <div class="bl-card-panel-front">
                <!-- card header -->
                <div class="card">
                    <div class="card-header">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-user-circle-o"></i> Blue Divided
                                </a>
                            </li>
                            <li class="list-inline-item float-right">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-unlock"></i> Public
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card header -->
                <!-- card media  -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-text">What is Lorem Ipsum?</h3>
                        <p class="card-text"><small>Last updated 1 day ago</small></p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div> <!-- end card media  -->
                <!-- card content -->
                <div class="card" style="display:none;">
                </div><!-- end card content -->
                <!-- card action -->
                <div class="card">
                    <div class="card-body">
                        <a href="template/card-list.html" class="btn btn-info btn-sm">Read
                            More...</a>
                    </div>
                </div><!-- end card action -->
                <!-- card behavior -->
                <div class="card" style="display:none;">
                </div><!-- end card behavior -->
                <!-- card footer -->
                <div class="card" style="display:none;">
                </div><!-- end card footer -->
            </div> <!-- end card front panel -->
        </div> <!-- end card template -->
    </div> <!-- end card space -->
</div> <!-- end text card -->