<!-- topic card -->
<div class="container-fluid shadow p-2 mb-5 bg-white rounded">
    <!-- card space -->
    <div class="bl-card-space">
        <!-- card template -->
        <div class="bl-card-template bl-topic-card ">
            <!-- card front panel -->
            <div class="bl-card-panel-front">
                <!-- card header -->
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="small mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fa fa-user-circle-o"></i>
                                    <span class="font-weight-light">Blue Divided</span>
                                </a>
                            </p>
                            <p class="small mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fa fa-unlock-alt"></i>
                                    <span class="font-weight-light">Public</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div> <!-- end card header -->
                <!-- card deck - media and content -->
                <div class="card-deck">
                    <!-- card media  -->
                    <div class="card">
                        <img class="card-img-top img-fluid"
                            src="https://upload.wikimedia.org/wikipedia/commons/8/84/CV_Raman_1971_stamp_of_India.jpg"
                            alt=" Topic Card image" />
                        <cite><i class="card-text">Credit: | Source:www.wikimedia.org</i></cite>
                        <div class="card-body">
                            <h3 class="card-title">The Raman Effect</h3>
                            <p class="card-subtitle">June 25, 2020</p>
                        </div>
                    </div> <!-- end card media  -->
                    <!-- card content -->
                    <div class="card">
                        <div id="accordion-card1000">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapse-card1000-1">
                                        Item #1
                                    </a>
                                </div>
                                <div id="collapse-card1000-1" class="collapse show" data-parent="#accordion-card1000">
                                    <div class="card-body">
                                        In 1928, Sir Chandrasekhara Venkata Raman (C.V.
                                        Raman) discovered, when a beam of coloured light
                                        entered a liquid, a fraction of the light scattered
                                        by that liquid was of a different color. He showed
                                        that the nature of this scattered light was
                                        dependent on the type of sample present.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse-card1000-2">
                                        Item #2
                                    </a>
                                </div>
                                <div id="collapse-card1000-2" class="collapse" data-parent="#accordion-card1000">
                                    <div class="card-body">
                                        When light traverses a transparent material, some of
                                        the light that is deflected changes in wavelength.
                                        This phenomenon is now called Raman scattering and
                                        is the result of the Raman effect. In 1930, for this
                                        discovery, Sir C.V. Raman was awarded the Nobel
                                        Prize in Physics.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card content -->
                </div> <!-- end card deck - media and content -->
                <!-- card deck - behavior and action -->
                <div class="card-deck">
                    <!-- card action -->
                    <div class="card" style="display: none;">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Read More...</a>
                        </div>
                    </div><!-- end card action -->
                    <!-- card behavior -->
                    <div class="card" style="display: none;">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Flip!</a>
                        </div>
                    </div>
                    <!-- end card behavior -->
                </div> <!-- end card deck - behavior and action -->
                <!-- card footer -->
                <div class="card">
                    <div class="card-footer">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="small mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fa fa fa-share-alt"></i>
                                    <span class="font-weight-light">100</span>
                                </a>
                            </p>
                            <p class="small mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fa fa-heart"></i>
                                    <span class="font-weight-light">101</span>
                                </a>
                            </p>
                            <p class="small mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fa fa-bookmark"></i>
                                    <span class="font-weight-light">201</span>
                                </a>
                            </p>
                            <p class="small mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fa fa-download"></i>
                                    <span class="font-weight-light">51</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div> <!-- end card footer -->
            </div> <!-- end card front panel -->
        </div> <!-- end card template -->
    </div> <!-- end card space -->
</div><!-- end topic card -->