<!-- card id 1001 image card -->
<!-- image card -->
<div class="container-fluid shadow p-2 mb-5 bg-white rounded">
    <!-- card space -->
    <div class="bl-card-space">
        <!-- card template -->
        <div class="bl-card-template bl-image-card">
            <!-- card front panel -->
            <div class="bl-card-panel-front">
                <!-- card header -->
                <div class="card">
                    <div class="card-header">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-user-circle-o"></i> Blue Divided
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-unlock"></i> Public
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card header -->
                <!-- card media  -->
                <div class="card">
                    <img class="card-img-top img-fluid"
                        src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                        alt=" Topic Card image" />
                    <cite><i class="card-text">Credit: | Source:www.res.cloudinary.com</i></cite>
                    <div class="card-body">
                        <h3 class="card-title">Wonderful Color</h3>
                        <p class="card-subtitle">June 25, 2020</p>
                    </div>
                </div><!-- end card media  -->
                <!-- card content -->
                <div class="card">
                    <div id="accordion-card1001">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse-card1001-1">
                                    Item #1
                                </a>
                            </div>
                            <div id="collapse-card1001-1" class="collapse show" data-parent="#accordion-card1001">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card content -->
                <!-- card deck - behavior and action -->
                <div class="card-deck">
                    <!-- card action -->
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Read More...</a>
                        </div>
                    </div><!-- end card action -->
                    <!-- card behavior -->
                    <div class="card" style="display:none;">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Flip!</a>
                        </div>
                    </div>
                    <!-- end card behavior -->
                </div> <!-- end card deck - behavior and action -->
                <!-- card footer -->
                <div class="card">
                    <div class="card-footer">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-share-alt"></i> 100
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-heart"></i> 101
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-bookmark"></i> 201
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-download"></i> 51
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card footer -->
            </div> <!-- end card front panel -->
        </div> <!-- end card template -->
    </div> <!-- end card space -->
</div><!-- end image card -->