<!-- card id 1007 blog link card -->
<!-- blog link card -->
<div class="container-fluid shadow p-2 mb-5 bg-white rounded">
    <!-- card space -->
    <div class="bl-card-space">
        <!-- card template -->
        <div class="bl-card-template bl-link-card">
            <!-- card front panel -->
            <div class="bl-card-panel-front">
                <!-- card header -->
                <div class="card">
                    <div class="card-header">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-user-circle-o"></i> Blue Divided
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-unlock"></i> Public
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card header -->
                <!-- card media  -->
                <div class="card">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item"
                            src="https://www.britannica.com/science/Raman-effect"
                            allowfullscreen></iframe>
                    </div>
                    <cite><i class="card-text">Credit:Erik Gregersen | Source:
                            www.britannica.com</i></cite>
                    <div class="card-body">
                        <h3 class="card-title">Physics Blog</h3>
                        <p class="card-subtitle">June 25, 2020</p>
                    </div>
                </div><!-- end card media  -->
                <!-- card content -->
                <div class="card">
                    <div id="accordion-card1007">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse-card1007-1">
                                    Item #1
                                </a>
                            </div>
                            <div id="collapse-card1007-1" class="collapse show"
                                data-parent="#accordion-card1007">
                                <div class="card-body">
                                    The Raman Effect is a very weak effect; only one in a million of
                                    the
                                    scattered light particles, or photons, actually exhibits the
                                    change
                                    in wavelength. The pattern of the change in wavelength is
                                    characteristic of the particular molecular species, and its
                                    intensity is proportional to the number of scattering molecules
                                    in
                                    the path of the light.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card content -->
                <!-- card deck - behavior and action -->
                <div class="card-deck">
                    <!-- card action -->
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Read More...</a>
                        </div>
                    </div><!-- end card action -->
                    <!-- card behavior -->
                    <div class="card" style="display:none;">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Flip!</a>
                        </div>
                    </div>
                    <!-- end card behavior -->
                </div> <!-- end card deck - behavior and action -->
                <!-- card footer -->
                <div class="card">
                    <div class="card-footer">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-share-alt"></i> 100
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-heart"></i> 101
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-bookmark"></i> 201
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-download"></i> 51
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card footer -->
            </div> <!-- end card front panel -->
        </div> <!-- end card template -->
    </div> <!-- end card space -->
</div><!-- end blog link card -->