<!-- card id 1010 flip card video to image & text -->
<div class="container-fluid shadow p-2 mb-5 bg-white rounded">
    <div class="bl-card-space bl-flip-card">
        <div class="bl-card-template">
            <div class="bl-card-panel-front">
                <!-- card header -->
                <div class="card">
                    <div class="card-header">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-user-circle-o"></i> Blue Divided
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-unlock"></i> Public
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card header -->
                <!-- card media  -->
                <div class="card">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/G1jXR5PhUc0" allowfullscreen></iframe>
                    </div>
                    <cite><i class="card-text">Credit: NanophotonGlobal | Source:
                            www.youtube.com</i></cite>
                    <div class="card-body">
                        <h3 class="card-title">Video Flip With Image</h3>
                        <p class="card-subtitle">June 25, 2020</p>
                    </div>
                </div><!-- end card media  -->
                <!-- card content -->
                <div class="card">
                    <div id="accordion-card1010-1">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse"
                                    href="#collapse-card1010-1-1">
                                    Item #1
                                </a>
                            </div>
                            <div id="collapse-card1010-1-1" class="collapse show"
                                data-parent="#accordion-card1010-1">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card content -->
                <!-- card deck - behavior and action -->
                <div class="card-deck">
                    <!-- card action -->
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Read More...</a>
                        </div>
                    </div><!-- end card action -->
                    <!-- card behavior -->
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-warning btn-sm" onclick="flipCard(this)">
                                <i class="fa fa-mail-forward"></i> Flip
                            </button>
                        </div>
                    </div>
                    <!-- end card behavior -->
                </div> <!-- end card deck - behavior and action -->
                <!-- card footer -->
                <div class="card">
                    <div class="card-footer">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-share-alt"></i> 100
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-heart"></i> 101
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-bookmark"></i> 201
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" href="#">
                                    <i class="fa fa-download"></i> 51
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end card footer -->
            </div> <!-- end card front panel -->
            <div class="bl-card-panel-back">
                <!-- card media  -->
                <div class="card">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/mhmd/image/upload/v1556294928/nicole-honeywill-546848-unsplash_ymprvp.jpg"
                        alt="Card image cap" />
                    <cite><i class="card-text">Credit: | Source:www.res.cloudinary.com</i></cite>
                    <div class="card-body">
                        <h3 class="card-title">Nature Flip</h3>
                        <p class="card-subtitle">Loren Ipsum Belief</p>
                    </div>
                </div><!-- end card media  -->
                <!-- card content -->
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            Contrary to popular belief, Lorem Ipsum is not simply random
                            text. It has roots in a piece of classical Latin literature from
                            45 BC, making it over 2000 years old. Richard McClintock, a
                            Latin professor at Hampden-Sydney College in Virginia, looked up
                            one of the more obscure Latin words, consectetur, from a Lorem
                            Ipsum passage, and going through the cites of the word in
                            classical literature, discovered the undoubtable source.
                        </p>
                    </div>
                </div> <!-- end card content -->
                <!-- card deck - behavior and action -->
                <div class="card-deck">
                    <!-- card action -->
                    <div class="card">
                        <div class="card-body">
                            <a href="#" class="btn btn-info btn-sm">Read More...</a>
                        </div>
                    </div><!-- end card action -->
                    <!-- card behavior -->
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-warning btn-sm" onclick="flipCard(this)">
                                <i class="fa fa-reply"></i> Unflip
                            </button>
                        </div>
                    </div> <!-- end card behavior -->
                </div> <!-- end card deck - behavior and action -->
            </div>
        </div>
    </div>
</div><!-- end card-space-->